/*******************************************************************************
 * pouhiou.css
 *
 * Règles de style particulières pour les romans de Pouhiou.
 * Ne pas inclure dans un autre framabook (modification de styles par défaut)
 */
body {
  font-family: DejaVu serif;
}
.titre-souschapitre {
  padding: 1em 0;
  text-align: center;
  display:block;
}

h3 {
  text-align: left;
}

i[lang="he"] {
  font-family: DejaVu serif;
}

pre, i[lang="he"] {
  font-family: DejaVu Sans Mono, monospace;
}

.hashtag {
  font-family: sans-serif;
}

.musique .gras {
  font-style: normal;
  font-weight: bold;
}
.musique p{
  margin: 0;
}

.analepse {
  font-weight: bold;
  margin-left: -2em ;
}

.voix {
  font-style: normal;
  font-weight: bold;
}

.addenda {
  font-style: italic;
}

.addenda .droit {
  font-style: italic;
}

div.addenda i {
  font-style: normal;
}

div.addenda cite {
  font-style: normal;
}

dt {
  font-weight: bold;
}
dd>ul>li {
  font-style: normal;
}
dt {
  margin-top: 2em;
}

.cadre_gris {
  background-color: #DDDDDD;
  margin: 1em;
  padding: 0 3em;
  float: top;
  text-indent: 0;
}

.bsod {
  background-color: #0011FE;
  color: #FFFFFF;
  font-family: sans-serif;
  text-indent: 0;
  font-weight: bold;
  width: 30em;
  margin: auto;
  border: 1px solid;
  padding: 1em;
}

.sms1 {
  display: block;
  max-width: 350px;
  padding: 2em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  border: 1px solid #838FA7;
  border-radius: 4em 4em 4em 0em;
  background: none repeat scroll 0% 0% rgba(114, 198, 40, 0.9);
}
.sms1 p{
  margin: 0;
}

.sms2 {
  display: block;
  max-width: 350px;
  padding: 2em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  border: 1px solid #838FA7;
  border-radius: 4em 4em 0em 4em;
  background: none repeat scroll 0% 0% rgba(238, 228, 54, 0.9);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: 10em;
}
.sms2 p{
  margin: 0;
}

.invitation {
  background-color: #F5F6CE;
  margin: 0 10em;
  text-indent: 0;
  text-align: center;
  border: grey solid;
  border-top-width: 10px;
  border-right-width: 10px;
}

.invitation p{
  margin: 0;
}

.invitation2 {
  background-color: #DDDDDD;
  margin: auto;
  text-indent: 0;
  width: 30em;
  border: 1px solid;
  padding: 1em;
}
.invitation2 p{
  margin: 0;
}
.tablette {
  text-indent: 0;
  border: 5px solid;
  width: 10em;
  border-radius: 4em;
  padding: 2em;
}
.miroir {
  text-indent: 0;
  text-shadow: 0 0 10px;
  padding: 2em;
}
.CPAM {
  color: #FF0000;
  background-color: #000000;
  font-weight: bold;
  padding: 2em;
  max-width: 25em;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px white;
}
